MVC/BrandesBank/Service References/CreditsService/Credits.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="isValid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credit" type="tns:PaymentModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PaymentModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Credit" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="isValidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isValidResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="isValidSoapIn">
    <wsdl:part name="parameters" element="tns:isValid" />
  </wsdl:message>
  <wsdl:message name="isValidSoapOut">
    <wsdl:part name="parameters" element="tns:isValidResponse" />
  </wsdl:message>
  <wsdl:portType name="CreditsSoap">
    <wsdl:operation name="isValid">
      <wsdl:input message="tns:isValidSoapIn" />
      <wsdl:output message="tns:isValidSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreditsSoap" type="tns:CreditsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isValid">
      <soap:operation soapAction="http://tempuri.org/isValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreditsSoap12" type="tns:CreditsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isValid">
      <soap12:operation soapAction="http://tempuri.org/isValid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Credits">
    <wsdl:port name="CreditsSoap" binding="tns:CreditsSoap">
      <soap:address location="http://brandesbank.gear.host/Credits.asmx" />
    </wsdl:port>
    <wsdl:port name="CreditsSoap12" binding="tns:CreditsSoap12">
      <soap12:address location="http://brandesbank.gear.host/Credits.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>